---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/onest';
import SocialPill from '../components/SocialPill.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
import Motivos from '../components/Motivos.astro';
import Opciones from '../components/Opciones.astro';
---

<Layout 
	title="Tomas Costa ~ Desarrollador y programador con 3 años de experiencia" 
	description="Contrata a Tomas Costa para desarrollar tus aplicaciones"
>
	<main>
		<section class="w-full lg:w-[740px] mx-auto pt-[180px] gap-4 px-4 lg:px-0">
			<h1 class="text-white text-4xl lg:text-5xl font-bold flex gap-4 pb-8">Desarrollos web a medida</h1>
			<h2 class="text-2xl text-wrap">
				<span class="opacity-80">Alcanza tus metas con nuestros servicios de </span> 
				<span class="text-red-200/90">desarrollo especializado</span>
				<span class="text-yellow-200/90">en crear aplicaciones únicas.</span>
			</h2>
			<nav class="flex flex-wrap gap-4 mt-8">
				<SocialPill class="cursor-pointer" href="https://www.linkedin.com/in/tomas-costa-0517672a5"><LinkedinIcon class="size-5" />LinkedIn</SocialPill>
				<SocialPill class="cursor-pointer" href="/"><GitHubIcon class="size-5" />GitHub</SocialPill>
				<SocialPill class="cursor-pointer" href="mailto:tomascostapp@gmail.com"><MailIcon class="size-5" />tomascostapp@gmail.com</SocialPill>
			</nav>
		</section>
		<section class="lg:w-[740px] mx-auto px-4 lg:px-0 pt-[120px] pb-[4rem] gap-4">
			<h2 class="text-4xl font-bold pb-8 text-center">Experiencia</h2>
			<Experiencia />
		</section>
		<section class="lg:w-[740px] mx-auto px-4 lg:px-0 pt-[40px] pb-[4rem] gap-4">
			<h2 class="text-4xl font-bold pb-8 text-center">Por que nosotros...</h2>
			<Motivos />
		</section>
		<section class="lg:w-[740px] mx-auto px-4 lg:px-0 pt-[40px] pb-[2rem] gap-4">
			<h2 class="text-4xl font-bold mb-4 text-center">Proyectos</h2>
			<p class="text-center text-white/80 pb-10">
				Estos son algunos de los proyectos en los que hemos trabajado. Si queres que
				el tuyo sea el proximo vayamos a ver las <a href="#">opciones</a>!
			</p>
			<Proyectos />
		</section>
		<section class="lg:w-[740px] mx-auto px-4 lg:px-0 pt-[40px] pb-[2rem] gap-4">
			<h2 class="text-4xl font-bold mb-4 text-center">Que estas buscando</h2>
			<p class="text-center text-white/80 pb-10">
				Si todavia no sabes que tipo de desarrollo necesitas en la seccion de 
				preguntas frecuentes te ayudamos a descubrirlo! 
				De lo contrario ya podemos empezar a trabajar...
			</p>
			<Opciones />
		</section>
	</main>

	<footer class="pt-6 pb-10 flex justify-center">
		<h2 class="text-white/80 hover:text-white">Tomás Costa - Todos los derechos reservados</h2>
	</footer>
</Layout>