---
const Motives = [
	{
		title: 'Lo último en tecnología',
		desc: `Todos nuestros desarrollos usan las últimas y mejores tecnologías del mercado 
				para asegurar velocidad, escalabilidad y seguridad a nuestros clientes.`,
	},
	{
		title: 'Diseños "Usuario a Cliente"',
		desc: `Diseños pensados para aumentar al máximo la tasa 
			de conversión de los sitios. Mayor conversión = clientes felices.`,
	},
	{
		title: 'Sitios desde cero',
		desc: `Nada de plantillas o sitios pre desarrollados, desarrollamos
			todos nuestros sitios desde cero y con bases solidas
			para que este perdure en el tiempo y aporte genuinamente al cliente.`,
	},
	{
		title: '100% Responsive',
		desc: `Diseñamos y desarrollamos el 100% de nuestros sitios para que se adapten
			a todo tipo de dispositivos.`,
	},
	{
		title: 'Valor para nuestros clientes',
		desc: `Nuestro objetivo es ayudar a nuestros clientes a alcanzar sus 
			metas mediante un proceso que les ahorra tanto tiempo como dinero 
			es posible.`,
	}
]
---

<div class="grid grid-cols-1 gap-3">
	{
		Motives.map((motive) => (
			<div class="flex items-center gap-8 lg:h-[150px] rounded p-4 border border-white/10 bg-gradient-to-br from-neutral-400/5 to-neutral-700/10 hover:from-neutral-100/5 hover:to-neutral-100/5 hover:scale-[101%] transition">
				<div class="w-[90%] md:w-[80%]">
					<h3 class="mb-2 font-bold text-lg">{motive.title}</h3>
					<p class="text-white/45">{motive.desc}</p>
				</div>
			</div>
		))
	}
</div>