---
import Badge from "./Badge.astro"

const Packs = [
	{
		cantidad: 2,
		precio: '$220.000',
		ahorro: '$20.000',
	},
	{
		cantidad: 4,
		precio: '$440.000',
		ahorro: '$40.000',
	},
]
---

<div class="grid md:grid-cols-2 gap-3">
	{
		Packs.map((pack) => (
			<div class="rounded p-4 bg-gradient-to-br from-neutral-400/20 to-neutral-700/30 hover:scale-[101%] transition">
				<h3 class="font-bold text-xl text-pretty">{pack.cantidad} Landings</h3>
				<label class="block mt-4"><input checked="true" type="checkbox" name="" id="" onchange="" /> Incluir diseño</label>
				<span class="block my-4 font-bold">{pack.precio}</span>
				<span class="block text-white/70 text-sm">¡Estas ahorrando {pack.ahorro}!</span>
				<a class="block mt-4 mb-2" href="#!"><Badge class="text-[15px] px-4 py-2 block w-full text-center font-bold">Comprar Paquete</Badge></a>
			</div>
		))
	}
</div>