---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex justify-center items-center py-4 px-4 lg:px-0 w-full mx-auto fixed backdrop-blur-lg">
			<nav class="flex  gap-x-[20px] sm:gap-x-[40px] text-[12px] sm:text-[16px]">
				<a class="opacity-80 hover:opacity-100" href="#">Experiencia</a>
				<a class="opacity-80 hover:opacity-100" href="#">Por que elegirnos</a>
				<a class="opacity-80 hover:opacity-100" href="#">Desarrollos</a>
				<a class="opacity-80 hover:opacity-100" href="#">Solicitar proyecto</a>
			</nav>
		</header>
		<div class="absolute top-0 z-[-2] w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_80%_-40%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background-size: 224px;
		scroll-behavior: smooth;
		background-color: #010101;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
