---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex justify-between items-center md:w-[740px] lg:w-[840px] mx-auto py-4 px-4 lg:px-0 w-full sticky top-0 backdrop-blur-lg">
			<a href="/">Tomás Costa</a>
			<nav class="flex gap-[40px] text-[16px]">
				<a class="opacity-80 hover:opacity-100 hidden md:block" href="#experiencia">Experiencia</a>
				<a class="opacity-80 hover:opacity-100 hidden md:block" href="#nosotros">Por que elegirnos</a>
				<a class="opacity-80 hover:opacity-100 hidden md:block" href="#proyectos">Desarrollos</a>
				<a class="opacity-80 hover:opacity-100" target="_blank" href='https://api.whatsapp.com/send?phone=542616841853&text=Hola%20Tom%C3%A1s!%20Estoy%20buscando%20desarrollar%20una%20web%20%20y%20me%20gusto%20lo%20que%20vi%20en%20tu%20sitio...'>Solicitar proyecto</a>
			</nav>
		</header>
		<div class="absolute top-0 z-[-2] w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_80%_-40%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background-size: 224px;
		scroll-behavior: smooth;
		background-color: #010101;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
